.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f7fb;
  }
  
  .login-card {
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
  }
  
  .login-icon {
    margin-bottom: 20px;
  }
  
  .login-title {
    color: #8D448B;
    margin-bottom: 20px;
    font-weight: 500;
  }
  
  .login-form-forgot {
    float: right;
  }
  
  .site-form-item-icon {
    color: rgba(0, 0, 0, 0.25);
  }
  
  /* button.ant-btn {
    background-color: #8D448B;
    border-color: #8D448B;
  } */
  